@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;
$body: #fafafa;
$link: #3897f0;

html,
#root {
  background-color: $body;
  font-family: 'Lato', sans-serif;
}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

img {
  width: 80vw;
}

.avatar-pictures {
  border-radius: 50px;
  height: 32px;
  width: 32px;
}

.card {
  margin-top: 25px;
  width: 46vw;
}

.card-header {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 0 auto;
}

.card-footer {
  background-color: white;
  padding-bottom: 0;
}

.card-picture-p {
  margin-left: 10px;
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.card-text {
  margin-bottom: 5px;
}

.comment-button {
  background-color: white;
  border: 0;
  color: $link;
}

.comment-button:hover {
  background-color: white;
  color: $link;
}

.duck-like {
  width: 24px;
  margin-bottom: 10px;
}

.form-border {
  border: 0;
}

.mb-3 {
  border: 0;
}

.icon {
  font-size: 35px;
}

.modal-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.modal-dialog {
  text-align: center;
  width: 400px;
}

.modal-title {
  margin: 0 auto;
}

.picture-description {
  font-size: 15px;
}

.profile-header {
  align-items: center;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: space-around;
}

.profile-images {
  align-self: center;
  width: 250px;
  margin: 15px;
}

.profile-images:hover {
  -webkit-filter: brightness(90%);
}

.profile-images-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ol {
  margin-top: 100px;
}

.single-post {
  margin-bottom: 50px;
}

.upload-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
