$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;
$body: #fafafa;
$link: #3897f0;

html, #root {
  background-color: $body;
}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

img {
  width: 80vw;
}

.card {
  margin-top: 25px;
  width: 50vw;
}

.card-header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-footer {
  background-color: white;
}

.comment-button {
  background-color: white;
  border: 0;
  color: $link;
}

.comment-button:hover {
  background-color: white;
  color: $link;
}

.duck-like {
  width: 40px;
}

.form-border {
  border: 0;
  margin-bottom: 0;
}

.profile-header {
  align-items: center;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: space-around;
}

.profile-images {
  align-self: center;
  width: 250px;
  margin: 15px;
}

.profile-images:hover {
  -webkit-filter: brightness(90%);
}

.profile-images-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.single-post {
  margin-bottom: 50px;
}
